/* Dashboard.module.css */
.wrapper {
  position: relative;
}

.habitForm {
  position: fixed;
  top: 12.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Styling for the habit list container */
.habitlist {
  position: fixed;
  top: 17%;
  width: 100vw;
}

/* Styling for the table */
table {
  width: 100vw;
}

tr {
  height: 3em;
}
/* Styling for table headers */
th {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  background-color: #f2f2f2;
}

td {
  text-align: center;
}

/* Styling for status buttons */
.statusButton {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Styling for active status buttons */
.statusButton.active {
  background-color: #28a745;
  color: white;
}

/* Styling for delete button */
.deleteButton {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

/* Styling for delete button on hover */
.deleteButton:hover {
  background-color: #c82333;
}
